body{
    background-color: rgba(233, 166, 79, 0.76);
    text-align: center;
}

.recipesL{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    font-size: 24px;
    text-align: center;
}

#mainImg{
border:8px solid black;
}